extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}    
                blockquote Nullam vitae accumsan erat. Sed venenatis nec tellus a fringilla. Donec porta malesuada velit quis efficitur. In faucibus ante eu nisi venenatis, in laoreet magna efficitur. Sed efficitur consectetur eros ac lobortis. Integer sapien turpis, maximus ac bibendum quis, dapibus non ipsum.
                p Aliquam cursus magna eget scelerisque tempus. Fusce lacinia neque eu volutpat euismod. Donec ut rhoncus lorem. Vestibulum libero diam, consequat at quam a, malesuada dignissim sem. Pellentesque malesuada nisl quis fermentum interdum. Aliquam nisl turpis, laoreet aliquam mauris sed, tristique facilisis dolor. Morbi sit amet magna at purus dapibus dignissim quis ac augue. Pellentesque egestas non sapien id sagittis. Ut posuere pretium arcu vitae finibus. 
                p Cras viverra elit ante, at tempus risus placerat gravida. Sed eget urna enim. Suspendisse potenti. Etiam risus risus, dictum at ipsum sit amet, fringilla suscipit velit. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aenean in justo facilisis justo vulputate convallis. Proin ultricies mauris neque, in tempor velit faucibus in. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aenean in justo facilisis justo vulputate convallis. Proin ultricies mauris neque, in tempor velit faucibus in. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Aenean in justo facilisis justo vulputate convallis. Proin ultricies mauris neque, in tempor velit faucibus in. 
